.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 1em;
  gap: 20px;
  flex-wrap: wrap;
}
.banner-title h1 {
  font-size: 3em;
  color: var(--primary);
  text-transform: capitalize;
}
.banner-title span {
  color: var(--secondary);
}
.search__container,
.search__container form {
  display: flex;
  width: 100%;
  justify-content: center;
}
.search__container input {
  padding: 0.8em;
  width: 80%;
}

.search__container button {
  font-size: 2em;
}
.search__container form > div {
  flex-basis: 10%;
}
.main-content-container {
  padding: 0 3em;
}

@media (min-width: 1024px) {
  .banner-container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .search__container {
    flex-basis: 50%;
  }
  .banner-title {
    flex-basis: 50%;
  }
  .banner-title h1 {
    font-size: 5em;
  }
}
