.avatar__container {
  border: none;
  cursor: pointer;
  display: flex;
  border-radius: 40px;
  background-color: var(--primary);
  min-width: 130px;
  text-align: center;
  padding: 0.8em;
  align-items: center;
  font-size: 0.6rem;
  font-weight: 800;
  color: var(--secondary);
  text-transform: uppercase;
}

.avatar__image img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
}
